<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>Titre :{{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}
 
  <div class="ticket" *ngIf="ticket.major=='Medicine'">
    <i class="fa fa-medkit" aria-hidden="true"> Major :{{ticket.major}}</i>
  </div>
  <div class="ticket" *ngIf="ticket.major=='Computer Science'">
    <i class="fas fa-code"> Major :{{ticket.major}}</i>
  </div>
  <button class="btn-custom" (click)="deleteTicket()">Delete</button>

</div>
